:root {
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);
    --clr-bright-blue-hover: hsl(245, 75%, 60%);

    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--clr-pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--clr-desturated-blue)
  }

  .card {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 50px  var(--clr-desturated-blue);
  }

  .card__content {
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .img__hero {
    width: 100%;
  }

  .card__title {
    color: var(--clr-dark-blue);
    font-weight: 900;
    margin-bottom: .5em;
  }

  .card__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:.75em;
    background-color: var(--clr-very-pale-blue);
    border-radius: 10px;
    padding: 1em;
    margin: 1.5em 0;
  }

  .plan {
    flex-grow: 1;
    text-align: left;
  }

  .plan__title {
    color: var(--clr-dark-blue);
    font-weight: 700;
  }

  button {
    border: none;
    padding: .5em 3em;
    border-radius: 10px;
    cursor: pointer;
  }

  .button__pay {
    background-color: var(--clr-bright-blue);
    box-shadow: 0 0 20px var(--clr-desturated-blue);
    color: white;
  }

  .button__pay:hover {
    background-color: var(--clr-bright-blue-hover);
  }

  .button__cancel {
    background-color: transparent;
    color: var(--clr-desturated-blue);
  }

  .button__cancel:hover {
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: var(--clr-bright-blue-hover);
  }

  .attribution {
    position:absolute;
    bottom: 1em;
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
  }
